extends layout.pug 

block main
  .intro 
    .intro_writings
      h1.heading
        |Absom 
      h2 
        |A Wonderful blogsite built on blockchain technology. This site uses tezos blockchain platform for storing the data. Wishing you Happy reading.
    //- <img href="/static/img/intro-img.jpg">
    img(src="/img/intro-img.jpg", alt="")#intro-img
  .about 
    h1#about 
      |Developers 
    .about_content 
      .about_writings 
        p 
          |Hello viewers! I am Partha Pratim Deka, a computer science undergrad. I'm currently pursuing B.Tech from NIT Silchar, Assam in India. I developed this website as a real-life project and also to aid my new knowledge on Blockchain.
          |I'm extremely sorry as Absom is currently under development. Many new features are being developed which are soon to be seen on this platform.
      img(src="img/dev.jpg", alt="")#dev